.float-left {float: left;}
.float-right {float: right;}
.clear-both {clear: both;}
.display-none {display: none;}
.display-block {display: block;}
.display-inline {display: inline;}
.display-inline-block {display: inline-block;}
